<div class="container mt-5">
  <div class="card w-100 mt-5">
    <div class="card-body">
        <h5 class="card-title">Welcome to Recipe App</h5>
        <hr>
        <p class="card-text mb-3">The <strong>Recipe app</strong> keeps track of all your recipes and ingredients. It will allow you to save ingredients, keep track of what you have, create recipes, and generate a shopping list based on what you have and what you are missing from a recipe. Also, since sharing recipes is an important part of cooking the app should allow you to make them public so anyone can access them.</p>

        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-info" type="button">For More Info</button>
            <i class="bi bi-arrow-right-square-fill fs-3 btn"></i>
             <%= link_to "Sign In", new_user_session_path, class: "text-light btn btn-primary"  %>
        </div>
    </div>
 </div>
</div>